@{
    ViewData["Title"] = "Home Page";
}

<section class="block">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img src="~/images/door-green-closed-lock-resized.jpg" alt="Package Management" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <h3>Integrity</h3>
                    <p>Description of integrity.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/grey-cameras-resized.jpeg" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <h3>Security</h3>
                    <p>Description of security.</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="~/images/servers.jpeg" alt="Microsoft Azure" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <h3>Service</h3>
                    <p>Description of service.</p>
                </div>
            </div>
        </div>
        <a class="carousel-item-left carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-item-right carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>
<section class="block">
    <div id="what-we-do">
        <h2 class="text-center">What We Do</h2>
        <p class="text-center">Video/POS Cloud Integration</p>
        <p>This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. This is a description of what we do. </p>
    </div>
    <div id="our-partners">
        <h2 class="text-center">Video Technology Partners</h2>
        <p>This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. This is a description of video technology partners. </p>
        <div class="row">
            <div class="col">
                <img src="~/images/solink-logo-yellow-transparent.png" width="200" height="33" class="d-inline-block align-top" alt="">
            </div>
            <div class="col">
                <img src="~/images/hanwhatechwin-logo-yellow-transparent.png" width="200" height="57" class="d-inline-block align-top" alt="">
            </div>
            <div class="col">
                <img src="~/images/speco-logo-yellow-transparent.png" width="200" height="33" class="d-inline-block align-top" alt="">
            </div>
        </div>
    </div>
    <div id="who-we-serve">
        <h2 class="text-center">Who We Serve</h2>
        <p>This is a description of who we serve. This is a description of who we serve. This is a description of who we serve. This is a description of who we serve. This is a description of who we serve. This is a description of who we serve. This is a description of who we serve. This is a description of who we serve. </p>
        <div class="row">
            <div class="col">
                <i class="fa fa-4x fa-ticket"></i>
                <div class="serve-header"><h5>Entertainment</h5></div>
                <div class="serve-content"><p>Theme Parks<br />Theaters<br />Sports Venues</p></div>
            </div>
            <div class="col">
                <i class="fa fa-4x fa-university"></i>
                <div class="serve-header"><h5>Financial</h5></div>
                <div class="serve-content"><p>Credit Unions<br />Banking<br />Personal Loans</p></div>
            </div>
            <div class="col">
                <i class="fa fa-4x fa-cutlery"></i>
                <div class="serve-header"><h5>Restaurant</h5></div>
                <div class="serve-content"><p>Full Service<br />Quick Service<br />Bar and Lounge</p></div>
            </div>
            <div class="col">
                <i class="fa fa-4x fa-shopping-cart"></i>
                <div class="serve-header"><h5>Retail</h5></div>
                <div class="serve-content"><p>Soft Goods<br />Hard Goods<br />Grocery</p></div>
            </div>
        </div>
    </div>
    <div id="who-we-are">
        <h2 class="text-center">Who We Are</h2>
        <p>This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. This is a description of who we are. </p>
        <div id="phil">
            <img src="~/images/example_about_image.png" width="164" height="250" alt="Package Management" class="about-img float-left img-responsive" />
            <h3>Phil Tolle</h3>
            <h5>36 years of experience</h5>
            <p>This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. This is a description of Phil. </p>
        </div>
        <div style="clear:both"></div>
        <div id="kevin">
            <img src="~/images/example_about_image.png" width="164" height="250" alt="Package Management" class="about-img float-right img-responsive" />
            <h3>Kevin Searight</h3>
            <h5>34 years of experience</h5>
            <p>This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. This is a description of Kevin. </p>
        </div>
        <div style="clear:both"></div>
    </div>
    <div id="contact-us">
        <h2 class="text-center">Contact Us 24/7</h2>
        <p>This is a description of contact us 24/7. This is a description of contact us 24/7. This is a description of contact us 24/7. This is a description of contact us 24/7. This is a description of contact us 24/7. </p>
        <div class="contact-us-form">
            @Html.Partial("_ContactUsForm")
        </div>
        <h4 class="text-center">Connect With Us On Social Media</h4>
        <div class="social-icon-container">
            <a href="#"><i class="fa fa-2x fa-linkedin social-icon"></i></a>
            <a href="#"><i class="fa fa-2x fa-facebook social-icon"></i></a>
            <a href="#"><i class="fa fa-2x fa-twitter social-icon"></i></a>
        </div>
    </div>
</section>

@section scripts
{
    <script>
        $(document).ready(function () {
            var navbarOffset = $("nav").height();

            $("#home-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#myCarousel").offset().top - navbarOffset
                }, 'slow');
            });

            $("#what-we-do-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#what-we-do").offset().top - navbarOffset
                }, 'slow');
            });

            $("#our-partners-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#our-partners").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-serve-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-serve").offset().top - navbarOffset
                }, 'slow');
            });

            $("#who-we-are-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#who-we-are").offset().top - navbarOffset
                }, 'slow');
            });

            $("#contact-us-btn").click(function () {
                $('html,body').animate({
                    scrollTop: $("#contact-us").offset().top - navbarOffset
                }, 'slow');
            });
        });
    </script>
}
