body {
    padding-bottom: 20px;
    padding-top: 100px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar {
    min-height: 75px;
    background-color: white;
    /*background-color: #e3f2fd;*/
}

.navbar-row {
    margin-right: 30px;
}

.btn-outline-primary {
    color: rgb(63, 93, 109) !important;
    background-color: transparent !important;
    border-color: rgb(63, 93, 109) !important;
}

.btn-outline-primary:hover {
    background-color: rgb(63, 93, 109) !important;
    color: white !important;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-inner {
    width: 100%;
    /*max-height: 500px !important;*/
}

.solutions {
    min-height: 400px;
    background-color: rgb(63, 93, 109);
    text-align: center;
    color: rgb(231, 225, 197);
    padding: 20px;
}

.solutions > p {
    margin-left: 70px;
    margin-right: 70px;
}

.solutions > h2 {
    margin: 40px;
}

.solutions img {
    margin: 50px;
    max-height: 100%;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}