body {
    padding-bottom: 20px;
    padding-top: 100px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.nav-item {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
}

.navbar-brand {
    margin-left: 50px;
}

.navbar {
    min-height: 75px;
    background-color: white;
    border-bottom: solid;
    border-color: rgb(240, 240, 240);
    /*background-color: #e3f2fd;*/
}

.navbar-row {
    margin-right: 30px;
}

.btn-outline-primary {
    color: rgb(63, 93, 109) !important;
    background-color: transparent !important;
    border-color: rgb(63, 93, 109) !important;
}

.btn-outline-primary:hover {
    background-color: rgb(63, 93, 109) !important;
    color: white !important;
}

.btn-outline-secondary {
    color: black !important;
    background-color: rgb(237, 229, 206) !important;
    border-color: rgb(63, 93, 109) !important;
}

.btn-outline-secondary:hover {
    background-color: rgb(158, 158, 158) !important;
    color: black !important;
}

.carousel-item img {
    max-height: 100%;
    max-width: 100%;
}

.carousel-inner {
    width: 100%;
    /*max-height: 500px !important;*/
}

.img-circle {
    border-radius: 50%;
    border: 1px solid black;
}

.navbar i.fa {
    display: inline-block;
    border-radius: 60px;
    box-shadow: 0px 0px 2px #888;
    padding: 0.5em 0.6em;
}

#who-we-serve .col {
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
}

.serve-header {
    padding: 10px;
}

#who-we-serve {
    padding: 60px;
}

#who-we-serve h2 {
    margin-bottom: 40px;
}

#who-we-serve p {
    margin-left: 70px;
    margin-right: 70px;
}

#what-we-do .col {
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
}

#what-we-do {
    padding: 60px;
}

#what-we-do h2 {
    margin-bottom: 40px;
}

#what-we-do p {
    margin-left: 70px;
    margin-right: 70px;
}

#who-we-are .col {
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
}

#who-we-are {
    padding: 60px;
    background-color: rgb(133, 26, 32);
    color: rgb(237, 229, 206);
}

#who-we-are h2 {
    margin-bottom: 40px;
}

#who-we-are p {
    margin-bottom: 40px;
    margin-left: 70px;
    margin-right: 70px;
}

#our-partners {
    min-height: 400px;
    background-color: rgb(63, 93, 109);
    color: rgb(237, 229, 206);
    padding: 20px;
}

#our-partners .col {
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
}

#our-partners p {
    margin-left: 70px;
    margin-right: 70px;
}

#our-partners h2 {
    margin: 40px;
}

#our-partners img {
    /*margin: 50px;*/
    max-height: 100%;
}

#our-partners > col {
    vertical-align: middle;
}

#contact-us {
    min-height: 400px;
    background-color: rgb(78, 84, 88);
    color: rgb(237, 229, 206);
    padding: 20px;
}

#contact-us h2 {
    margin: 40px;
}

#contact-us .col {
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
}


#contact-us a {
    text-align: center;
    display: block;
    margin: auto;
    padding: 20px;
}

.contact-us-form label {
    text-align: right;
}

.contact-us-form {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    width: 50%;
    border-style: solid;
    border-color: rgb(237, 229, 206);
}

#contact-us p {
    margin-left: 70px;
    margin-right: 70px;
}

#contact-us a {
    display: inline-block;
}

#contact-us h4 {
    padding-top: 20px;
}

.social-icon-container {
    text-align: center;
}

.social-icon {
    color: rgb(237, 229, 206);
}

.social-icon:hover {
    color: rgb(158, 158, 158);
}

.about-img {
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 40px;
}

#phil p {
    margin-left: 70px;
    margin-right: 70px;
}

#phil h3 {
    padding-bottom: 0px;
}

#phil h5 {
    padding-bottom: 20px;
    font-style: italic;
}

#kevin p {
    margin-left: 70px;
    margin-right: 70px;
}

#kevin h3 {
    margin-left: 70px;
    padding-bottom: 0px;
}

#kevin h5 {
    margin-left: 70px;
    padding-bottom: 20px;
    font-style: italic;
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: -20px;
        margin-right: -20px;
    }
}

.nav-link:hover {
    cursor: pointer;
}